button.button {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 75%;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--brand-color);
  /* transition: all 0.2s ease-in-out; */
}
button.button {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 75%;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--brand-color);
  /* transition: all 0.2s ease-in-out; */
}
