div.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

header.header div {
  justify-content: flex-start;
  width: 100%;
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  overflow: hidden;
}

div.content h2.date {
  font-weight: 550;
  /* max-inline-size: 20ch;
  text-align: center; */
}

div.content h2::first-letter {
  text-transform: uppercase;
}

div.roomSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 1.875rem;
  padding: .3rem;
}

button.room {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem .8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.875rem;
  transition: all 0.2s ease-in-out;
}

div.meetingsWrapper {
  /* Fill available space */
  width: 100%;
  height: 100%;
  /* Enable scrolling */
  overflow-y: auto;
  position: relative;
}

div.meetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  gap: 1rem;
}

span.noMeetingsMessage {
  position: absolute;
  /* Set the position to absolute */
  top: 50%;
  /* Move the top edge to the middle */
  left: 50%;
  /* Move the left edge to the middle */
  transform: translate(-50%, -50%);
  /* Center the message */
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #717179;
  width: 100%;
  max-inline-size: 15ch;
}

div.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  padding: .5rem;
  /* min-width: 18rem; */
  width: 75%;
  border-left-width: 15px;
  /* border-left-color: var(--brand-color); */
}

div.card footer.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.card footer.cardFooter span {
  font-size: 0.8rem;
}

footer.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

button.button {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 75%;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--brand-color);
  /* transition: all 0.2s ease-in-out; */
}

button.button:disabled {
  background-color: hsla(151, 100%, 23%, 0.5);
}
