dialog:modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  width: max-content;
}

dialog::backdrop {
  backdrop-filter: blur(.3px);
  background-color: hsla(0, 0%, 85%, 0.2);
}

header.header {
  margin-top: .5rem;
}

h4.h4 {
  border-bottom: 1px solid
    /* var(--brand-color) */
    #e4e4e7;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

h4.h4Warning {
  border-bottom: 1px solid
    /* #ff0000 */
    #e4e4e7;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

h4 .icon {
  color: var(--brand-color);
}

h4 .iconWarning {
  color: #ff0000;
}

span.warningMessage {
  font-size: 1.1rem;
  display: inline-block;
  width: 25ch;
}

form.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .5rem;
}

fieldset.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

label.label,
legend.legend {
  font-weight: 500;
  font-size: 1.3rem;
}

div.roomsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

label.roomLabel {
  font-size: 1rem;
  font-weight: 500;
}

/* turn label text color into green if input radio is checked */
label.roomLabel:has(input[type="radio"].radio:checked) {
  background-color: var(--brand-color);
  color: #fff;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

label.roomLabel {
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: .3rem;
  width: 100%;
}

input.input,
input[type="date"].date,
input[type="time"].time {
  width: 100%;
  padding: .5rem;
  border: 1px solid #e4e4e7;
  background-color: #f5f5f5;
  border-radius: .3rem;
}

input.input::placeholder,
textarea.textarea::placeholder {
  color: #a1a1aa;
}

input.input:focus,
textarea.textarea:focus {
  outline: none;
  border: 1px solid #a1a1aa;
}

textarea.textarea {
  resize: none;
  width: 100%;
  padding: .5rem;
  border: 1px solid #e4e4e7;
  background-color: #f5f5f5;
  border-radius: .3rem;
  font-family: inherit;
}

span.duration {
  font-size: 1rem;
  font-weight: 500;
  color: #a1a1aa;
}

span.error {
  color: #ff0000;
  font-size: 1rem;
  font-weight: 500;
  width: 20ch;
}

footer.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
  width: 100%;
}

footer.footerDanger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
  width: 100%;
}

button.button {
  display: inline-block;
  border: none;
  border-radius: .3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  /*transition: all 0.2s ease-in-out;
  */
}

button.default {
  background-color: var(--brand-color);
  color: #fff;
  /* transition: all 0.2s ease-in-out; */
}

button.variant {
  background-color: rgba(217, 217, 217, 0.75);
  /* transition: all 0.2s ease-in-out; */
}

button.danger {
  /* background-color: #ff0000;
  color: #fff; */
  padding: 0;
  background-color: transparent;
  color: #ff0000;
  font-weight: 550;
  /* text-decoration: underline;
  text-underline-offset: 0.5rem; */
  /* transition: all 0.2s ease-in-out; */
}

button.dangerConfirm {
  background-color: #ff0000;
  color: #fff;
  /* transition: all 0.2s ease-in-out; */
}

button.button:disabled {
  background-color: rgba(217, 217, 217, 0.75);
  color: #a1a1aa;
  cursor: not-allowed;
}

span.ongoing {
  /* background-color: var(--brand-color);
  color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  font-size: 0.8rem;
  font-weight: 500; */

  color: var(--brand-color);
  font-size: 1rem;
  font-weight: 500;
}

span.ended {
  /* background-color: var(--brand-color);
  color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  font-size: 0.8rem;
  font-weight: 500; */

  color: #a1a1aa;
  font-size: 1rem;
  font-weight: 500;
}

span.upcoming {
  /* background-color: var(--brand-color);
  color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  font-size: 0.8rem;
  font-weight: 500; */

  color: hsl(39, 100%, 50%);
  font-size: 1rem;
  font-weight: 500;
}

span.hidden {
  /* background-color: var(--brand-color);
  color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  font-size: 0.8rem;
  font-weight: 500; */

  color: #ff0000;
  font-size: 1rem;
  font-weight: 500;
}

span.boldSpan {
  font-weight: 500;
}

button.close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: var(--brand-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: .5rem;
}

button.closeWarning {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: 500;
  padding: .5rem;
}
