div.roomSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 1.875rem;
  padding: .3rem;
}

button.room {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem .8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.875rem;
  transition: all 0.2s ease-in-out;
}
